@font-face {
    font-family: "Pathfinder_Icons";
    src: url("/Pathfinder2eActions.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.card {
    position: relative;
    font-family: sans-serif;
    font-size: 11px;
    border: 1px solid #333;
    background-color: white;
    color: black;
    max-width: 295px;
    max-height: 410px;
    width: 295px;
    height: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 20px;
    margin: 0 0 7px;
    height: 44px;
}

.grade {
    display: block;
    font-size: 16px;
}

.description {
    flex-grow: 2;
    line-height: 15px;
}

.description .pf2-icon {
    font-family: "Pathfinder_Icons";
    font-size: 16px;
}

/*.description.large {*/
/*    font-size: 13px;*/
/*    line-height: 14px;*/
/*}*/

/*.description.large .pf2-icon {*/
/*    font-size: 16px;*/
/*}*/

.description.small .pf2-icon {
    font-size: 14px;
}

.description.small {
    font-size: 10px;
    line-height: 11px;
}

.description.small .pf2-icon {
    font-size: 14px;
}

.description p {
    margin: 3px 0;
}

.price-group {
    align-self: center;
    margin: 0;

    font-size: 12px;
    font-style: italic;
}
.price-group span {
    margin: 0 2px;
}


.properties {
    text-align: center;
    border-top: 1px solid #555;
    padding-top: 5px;
    line-height: 12px;
    margin: 0;
}

.rarity {
    text-transform: capitalize;
}
.usage {
    text-transform: capitalize;
}
.bulk {
    text-transform: capitalize;
}

.traits {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 14px;
}

.trait {
    text-transform: capitalize;
    padding: 0 2px
}
