:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.logo {
    height: 300px;
    width: 300px;
    opacity: 15%;
}

@media print {
    ::-webkit-scrollbar {
        display: none;
    }

    .card {
        width: 64mm;
        height: 89mm;
        font-size: 9px;
        /*width: 240px;*/
        /*height: 336px;*/
    }

    .header {
        font-size: 17px;
        height: 35px;
        /*margin-bottom: 5px;*/
    }
    .grade {
        font-size: 13px;
        line-height: 13px;
        margin: 0;
    }

    .description {
        line-height: 11px;
    }

    .description .pf2-icon {
        font-size: 13px;
    }

    /*.description.large {*/
    /*    font-size: 11px;*/
    /*    line-height: 15px;*/
    /*}*/

    /*.description.large .pf2-icon {*/
    /*    font-size: 16px;*/
    /*}*/

    .description.small {
        font-size: 7px;
        line-height: 8px;
    }

    .description.small .pf2-icon {
        font-size: 9px;
    }

    .price-group {
        font-size: 10px;
    }

    .properties {
        line-height: 10px;
    }
    .traits {
        line-height: 12px;
    }

    .close {
        display: none;
    }
}
